# Ignore node_modules
node_modules/
server/node_modules/

# Ignore local builds
dist/

# Ignore local git and workflows
.git/
.github/

# Ignore sensitive configuration files and local keys
server/config.json
server/keys/*
!server/config.example.json

# Ignore system files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
